.DS_Store
node_modules
env
dist
data

# IDS and Explanation table codes: 
backend/pattern_mining_explanation_tables.ipynb
backend/pattern_mining_ids.ipynb


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
